<div class="text-center mb-4 text-light">
  <div class="container">
    <div class="d-flex justify-content-sm-around">
      <div class="col-7">
        <div class="card bg-dark">
          <div class="card-body">
            <h3>Add Disaster Information's</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-2">
  <div class="d-flex justify-content-sm-around">
    <div class="col-7">
      <div class="card m-1">
        <div class="card-body">
          <div class="d-flex justify-content-center align-content-center">
            <% if @post.errors.any? %>
              <ul>
                <% @post.errors.each do |error| %>
                  <ol><%= error.full_message %></ol>
                <% end %>
              </ul>
            <% end %>
          </div>
          <%= form_with model: @post do |form| %>
            <div class="d-flex justify-content-sm-around align-content-center">
              <div class="col-10">
                <div class="form-floating mt-3">
                  <%= form.text_field :title, class: "form-control", id: "floatingInput", placeholder: "Title" %>
                  <%= form.label :title, for: "floatingInput" %>
                </div>
                <div class="form-floating mt-1">
                  <%= form.text_area :content, class: "form-control", id: "floatingInput", placeholder: "Content", style: "height: 400px"%>
                  <%= form.label :content, for: "floatingInput" %>
                </div>
                <div class="form-floating mt-1">
                  <%= form.text_field :address, class: "form-control", id: "floatingTextarea2", rows: 5, placeholder: "Address", style: "height: 50px"%>
                  <%= form.label :address, for: "floatingTextarea2" %>
                </div>
                <div class="form-check mt-2">
                  <%= form.collection_check_boxes :type_ids, Type.all, :id, :name, class: 'form-check-input', for: 'defaultCheck1' %>
                  <%= link_to 'Add Types', new_type_path(@post) %>
                </div>
                <br>
                <%= form.submit class: 'btn btn-outline-dark me-2' %>
                <%= link_to 'Back', posts_path, class: 'btn btn-outline-primary me-2' %>

              </div>
            </div>
          <% end %>
          <div class="mt-2">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
