<div class="text-center mb-4 text-light">
  <div class="container">
    <div class="d-flex justify-content-sm-around">
      <div class="col-7">
        <div class="card bg-dark">
          <div class="card-body">
            <h3>Title: <%= @post.title %></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-2">
  <div class="d-flex justify-content-sm-around">
    <div class="col-7">
      <div class="card m-1">
        <div class="card-body">
          <strong class="">Content:</strong><br><p class="m-2"><%= @post.content %></p>
          <strong class="">Address:</strong><p class="m-2"><%= @post.address %></p>

          <div class="accordion mt-4" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <h5>Comments</h5>
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <div>
                    <% @post.comments.each do |comment| %>
                      <article>
                        <div class="mt-3 mb-1"><%= comment.content %></div>
                        <strong>by:</strong> <%= comment.user.email %>
                        <table>
                          <thead>
                          <tr>
                            <th></th>
                            <th></th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr>
                            <td><%= link_to 'Edit', edit_post_comment_path(@post, comment), class: 'btn btn-outline-dark me-2' if comment.user == current_user %></td>
                            <td><%= button_to 'Delete', post_comment_path(@post, comment), class: 'btn btn-outline-danger me-2', :onclick => "return confirm('Are you sure you want to delete?')",method: :delete if comment.user == current_user %></td>
                          </tr>
                          </tbody>
                        </table>
                      </article>
                      <hr>
                    <% end %>
                    <%= render partial: 'comments/form1', locals: { post: @post, comment: @comment, path: post_comments_path(@post)} if user_signed_in? %>
                  </div>
                </div>
              </div>
            </div>
            <table class="mt-2">
              <thead>
              <tr>
                <th></th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><%= link_to 'Back', posts_path, class: 'btn btn-outline-primary me-2' %></td>
                <td><%= link_to 'Edit Disaster Information', edit_post_path, class: 'btn btn-outline-dark me-2' if @post.user == current_user %></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



